* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Quicksand", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0px;
  margin-top: -32767px;
}

a {
  font-weight: 700;
  text-decoration: none;
}

.months, .hours, .seconds {
  color: rgb(80, 102, 115);
}

#wrapper {
  min-height: 100%;
}

#main, #footer-inner {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  overflow: auto;
  padding-top: 50px;
  padding-bottom: 36px;
  opacity: 0;
}

#main a {
  color: rgb(0, 0, 0);
}

#numbers, #labels {
  text-align: right;
}

#numbers {
  list-style-type: none;
  font-size: 130px;
  font-weight: 700;
  line-height: 140px;
}

#numbers li, #labels li {
  text-align: center;
  display: inline-block;
}

#numbers li {
  width: 192px;
}

#labels {
  list-style-type: none;
  font-size: 30px;
  font-family: "Ultra", serif;
}

#labels li {
  width: 154px;
  padding-left: 19px;
  padding-right: 19px;
}

#explanation {
  margin-top: 50px;
  margin-right: 19px;
  text-align: right;
  font-size: 30px;
}

#footer {
  position: relative;
  margin-top: -36px;
  height: 36px;
  clear: both;

  background-color: rgb(80, 102, 115);
}

#footer-inner p {
  margin-right: 19px;
  text-align: right;
  font-size: 16px;
  line-height: 36px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

#footer-inner a {
  color: rgb(255, 255, 255);
}

